---
layout: main
---

<div class="py-10 md:py-20">
<p class="text-3xl md:text-6xl text-slate-600 dark:text-slate-200 font-bold">
 <a href="/">{{ title }}</a> </p>
{% comment %} {% include "nav.liquid" %} {% endcomment %}
</div>


{{ content }}