---
layout: base
---

<div class="min-h-screen flex flex-col">

<main class="flex-1 w-10/12 max-w-screen-sm md:max-w-screen-md mx-auto">

<p class="font-['M_PLUS_1p'] text-xs md:text-base xl:text-xl text-slate-200 dark:text-zinc-600 ascii">

░&emsp;&emsp;▒&emsp;&emsp;▒░▓<br>
▒▓&emsp;▓&emsp;<br>
▒&emsp;▓&emsp;▓&emsp;&emsp;░&emsp;▓<br>
▒&emsp;▓&emsp;▒<br>
▒░&emsp;&emsp;&emsp;&emsp;░▓<br>
░&emsp;▓▒░&emsp;<br>
▓<br>
░&emsp;&emsp;<br>
<br>
▒
</p>


  {{ content }}

</main>

{% include "footer.liquid" %}
</div>
