<nav>
  <ul class="flex space-bet py-2 border-b-2 mb-6">
    {% comment %} <li class="mr-6"><a href="/">Home</a></li> {% endcomment %}
    <li class="mr-6"><a href="/writing">Writing</a></li>
    {% comment %} <li class="mr-6"><a href="/about">About</a></li> {% endcomment %}
    {% comment %} <li class="mr-6"><span class="cursor-pointer" id="toggleDarkMode">Dark mode</span></li> {% endcomment %}
  </ul>
</nav>