<nav>
  <ul class="flex space-bet py-2 border-b-2 mb-6">
    <li class="mr-3"><a href="/">...</a></li>
    <span>/</span>
    <li class="mr-3 ml-3"><a href="/writing">Writing</a></li>
    {% comment %} <span>/</span>
    <li class="mr-3 ml-3"><a href="#">{{ title }}</a></li> {% endcomment %}
  </ul>
</nav>