---
layout: main
---

{% include "nav_writing.liquid" %}

{% comment %} <div class="py-10 md:py-20">
<a href="/" class="text-3xl back-arrow hover:text-blue-700 hover:underline">↖</a>
<div class="flex">
<p class="text-3xl md:text-6xl font-black  leading-tight">

{% include "nav_writing.liquid" %}
</div>
</div> {% endcomment %}

{{ content }}