body, #hero, #header {
    background-color: #f6f8fb;
}

#logo {
    width: 20%;
    margin-bottom: 5%
}

#header .logo img {
    margin-bottom: 10px;
}

#header {
    border-bottom: 0px solid transparent;
}

#contact_header {
    margin-left: 30px;
}

h1, #hero h1 {
    color: #273B53;
}

.services .section-title h2 {
    color: #004875;
}

.services .title {
    color: #2d405f;
}

h3, .contact .info-box h3 {
    color: #3D5471;
}

h3, .about .content h3 {
    font-size: 30px;
    margin-bottom: 24px;
}

.clients {
background: #fff;
}

.contact .info-box i, .services .icon i {
    color: #3b4ef8;
    
}

.services .icon i {
    background-color: #e2e5fe66;
}

.back-to-top i {
    background-color: #0C72ED;
}

.about .icon-boxes .icon-box i {
    color: #aabbd7;
}

.about .content {
    padding: 0;
}


#core_values {
    color: #FFF;
}

#features {
    background-color: #466393;
    color: #fff;
}

#whatwedo {
    color: #fff;
}

.features .content ul i {
    color: #fff;
}

.features .content h3 {
    color: #fff;
}

.features .content + .content {
    margin-top: 0;
}

/* logo sizes */

@media (min-width: 1200px) {
    .clients img {
        max-width: 70%;
    }
}