/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #444444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Merriweather", sans-serif;
}

.nav-menu a {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
}

.get-started-btn {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400
}

.mobile-nav-toggle {
    top: 27px;
}

#header .logo img {
    margin-bottom: 10px;
}

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/

/*
#hero {
    padding-bottom: 0px;
    padding-top: 100px;
}
*/

#hero h1 {
    width: 100%;
}

@media only screen and (min-width: 400px) {
    #hero .container {
        padding-top: 70px;
    }
}

/*--------------------------------------------------------------
# Steps section
--------------------------------------------------------------*/

#steps {
    padding-bottom: 0;
}

.steps .content-item p {
    color: rgb(68, 68, 68);
}

.steps h3 {
    font-size: 26px;
    position: relative;
    color: #2d405f;
    margin-bottom: 30px;
}

.steps .content-item span {
    font-family: 'Merriweather';
    font-size: 32px;
    font-weight: 200;
}

#source {
    color: #757575;
    font-size: 12px;
}

#features1 .container .row .pt-5 {
    padding-top: 0px !important;
}

/*
.steps h3::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #aabbd7;
  bottom: 0;
  left: calc(50% - 25px);
}
*/


/*--------------------------------------------------------------
# Features section
--------------------------------------------------------------*/

.features .content h3 {
    font-size: 26px;
    position: relative;
    color: #2d405f;
    font-weight: 400;
    line-height: 1.6em;
    padding-bottom: 20px;
}

.features .content + .content {
    margin-top: 0;
}

/*--------------------------------------------------------------
# Clients section
--------------------------------------------------------------*/

.clients img {
    max-width: 40%;
}

@media only screen and (max-width: 850px) {
    .clients img {
    max-width: 60%;
}
}

/*--------------------------------------------------------------
# Services section
--------------------------------------------------------------*/

.services .title {
    color: #2d405f;
}


.icon-box ul {
    list-style: none;
}

.icon-box ul li {
    padding-bottom: 10px;
}

.icon-box ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #3b4ef8;
}

.services .description {
    font-size: 16px;
    padding-bottom: 10px;
}

.services .title {
    padding-top: 20px;
}

.alignleft {
    text-align: left;
}

.alignleft ul {
    padding-left: 0px;
}


.services .icon-box:hover {
    transform: scale(1.02);
}

/*--------------------------------------------------------------
# Contact section
--------------------------------------------------------------*/

.team .member:hover .member-info-content {
    bottom: 20px;
}

.team .member {
    background: transparent;
}

.team .member:hover .member-info {
    background: linear-gradient(0deg, rgba(12, 17, 26, 0.9) 0%, rgba(0, 212, 255, 0) 30%)
}

/*--------------------------------------------------------------
# Contact section
--------------------------------------------------------------*/

.contact .info-box h3 {
    color: #2d405f;
}
